Chat.json
{
  "name": "Chat",
  "nodes": [
    {
      "parameters": {
        "availableInChat": true,
        "agentName": "Chatbot agriculture",
        "agentDescription": "Démonstration RQRAD pour le chatbot openAI",
        "options": {
          "allowFileUploads": true,
          "responseMode": "streaming"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1776,
        -544
      ],
      "id": "5267cd38-0ccb-4106-89d3-764ecd660796",
      "name": "Chatbot",
      "webhookId": "8f57fc73-5e0d-40ba-bf3a-08932f4362f7"
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "id": "f20639e1-90fa-4083-9406-1a096d39d022",
      "name": "Séparer les fichiers",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1616,
        -544
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatbotData = $('Chatbot').first();\nconst binaryKeys = Object.keys(chatbotData.binary || {});\n\nconst items = $input.all().map((item, index) => {\n  const binaryKey = binaryKeys[index];\n  return {\n    json: item.json,\n    binary: binaryKey ? { data: chatbotData.binary[binaryKey] } : {}\n  };\n});\n\nreturn items;"
      },
      "id": "e44b69b5-6612-41dc-9b9f-df22173d3d54",
      "name": "Mapper les données binaires",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -544
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4a900fa5-3635-493d-8dcf-f075aa65bbb8",
      "name": "Itération sur les fichiers",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1264,
        -544
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1072,
        -464
      ],
      "id": "8305a901-5cf0-4b5b-845f-fdf0bb434f85",
      "name": "Extrait du fichier"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "allCsvData",
        "options": {}
      },
      "id": "a7e8c3a5-6178-4ab3-939f-8560c9d00527",
      "name": "Combiner des données CSV",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1072,
        -624
      ]
    },
    {
      "parameters": {
        "content": "## Traitement de fichier CSV.",
        "height": 368,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1648,
        -640
      ],
      "id": "007083f5-e206-4d83-ab50-e3ae7223bd4f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Chatbot').item.json.chatInput }}\n{{ JSON.stringify($json.allCsvData, null, 2) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -896,
        -624
      ],
      "id": "801dda02-b0c0-4e00-be3c-3be311b53c9c",
      "name": "Traitement de texte",
      "credentials": {
        "ollamaApi": {
          "id": "Y649xrHy2wp9MoNA",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chatbot": {
      "main": [
        [
          {
            "node": "Séparer les fichiers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Séparer les fichiers": {
      "main": [
        [
          {
            "node": "Mapper les données binaires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapper les données binaires": {
      "main": [
        [
          {
            "node": "Itération sur les fichiers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Itération sur les fichiers": {
      "main": [
        [
          {
            "node": "Combiner des données CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrait du fichier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrait du fichier": {
      "main": [
        [
          {
            "node": "Itération sur les fichiers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combiner des données CSV": {
      "main": [
        [
          {
            "node": "Traitement de texte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "433a2fe0-0a5f-45bc-95dd-d00e9a22314a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6d2fbe3f29f0c2a989f279e7bd923b83ddfd5108b5c96718abf62d435db1c57"
  },
  "id": "PFBD897ecvpWLiv25X0gD",
  "tags": [
    {
      "updatedAt": "2026-01-18T17:35:27.105Z",
      "createdAt": "2026-01-18T17:35:27.105Z",
      "id": "OHfKuIGpMIvkqHuo",
      "name": "RQRAD"
    },
    {
      "updatedAt": "2026-01-18T17:36:18.822Z",
      "createdAt": "2026-01-18T17:36:18.822Z",
      "id": "eDoxFZjAsrBRIetD",
      "name": "Demo"
    }
  ]
}